{% extends 'base.html.twig' %}

{% block title %}Liste des Constructeurs{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Constructeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constructeur in constructeurs %}
            <tr>
                <td>{{ constructeur.id }}</td>
                <td>{{ constructeur.name }}</td>
                <td>{{ constructeur.country }}</td>
                <td>{{ constructeur.site }}</td>
                <td>
                    <a role="button" aria-pressed="true" class="btn btn-success" href="{{ path('app_constructeur_show', {'id': constructeur.id}) }}">Voir</a>
                    <a role="button" aria-pressed="true" class="btn btn-warning" href="{{ path('app_constructeur_edit', {'id': constructeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun constructeur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" aria-pressed="true" class="btn btn-primary" href="{{ path('app_constructeur_new') }}">Ajouter</a>
{% endblock %}
