{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des voitures</h1>

    <h2 class="mt-5 mb-2">Filtres</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="dropdown mb-5 col-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Constructeur
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                {{ form_row(form.name) }}

            </div>
        </div>
        <div class="dropdown mb-5 col-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Carburant
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                {{ form_row(form.fuel) }}

            </div>
            <button type="submit" class="btn btn-primary ms-4 px-4">Filtrer</button>
        </div>
    </div>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Modèle</th>
                <th>Constructeur</th>
                <th>Longueur</th>
                <th>Largeur</th>
                <th>Poids</th>
                <th>Sièges</th>
                <th>Carburant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.constructor.name }}</td>
                <td>{{ voiture.model }}</td>
                <td>{{ voiture.length }}</td>
                <td>{{ voiture.width }}</td>
                <td>{{ voiture.weight }}</td>
                <td>{{ voiture.seat }}</td>
                <td>{{ voiture.energy }}</td>
                <td>
                    <a role="button" aria-pressed="true" class="btn btn-success px-4" href="{{ path('app_voiture_show', {'id': voiture.id}) }}">Voir</a>
                    <a role="button" aria-pressed="true" class="btn btn-warning" href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun véhicule trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" aria-pressed="true" class="btn btn-primary" href="{{ path('app_voiture_new') }}">Ajouter</a>
{% endblock %}
