{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1 class="text-center">Détail du véhicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ voiture.model }}</td>
            </tr>
            <tr>
                <th>Constructeur</th>
                <td>{{ voiture.constructor.name }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ voiture.length }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ voiture.width }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ voiture.weight }}</td>
            </tr>
            <tr>
                <th>Sièges</th>
                <td>{{ voiture.seat }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ voiture.energy }}</td>
            </tr>
        </tbody>
    </table>

    <a role="button" aria-pressed="true" class="btn btn-primary" href="{{ path('app_home') }}">Accueil</a>

    <a role="button" aria-pressed="true" class="btn btn-warning" href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">Modifier</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
